<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620728293937-g5qk23gk235bpdtk0f1raj9rm96d362g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620728293937-g5qk23gk235bpdtk0f1raj9rm96d362g</string>
	<key>API_KEY</key>
	<string>AIzaSyAibT-QxGgwPPkpLGPmLcdEtwVhifWqbmE</string>
	<key>GCM_SENDER_ID</key>
	<string>620728293937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wios</string>
	<key>PROJECT_ID</key>
	<string>wios-e9ea4</string>
	<key>STORAGE_BUCKET</key>
	<string>wios-e9ea4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620728293937:ios:25426f0783070700261310</string>
</dict>
</plist>